extends layout

block Proxy Parameters Details

block(class='details')
    block(class='details-kv')
        block Name
        block
    block(class='details-kv')
        block Port
        block
    block(class='details-kv')
        block Target-Protocol
    block(class='details-kv')
        block Target-Host
        block
    block(class='details-kv')
        block Target-Port
        block
    block(class='details-kv')
        block Advanced-Secure
        block
