nav(class="navbar navbar-expand-lg navbar-dark bg-primary")
    a(class="navbar-brand" href="#")
        svg(class="bi" width="32" height="32" fill="currentColor")
            <use xlink:href="/images/bootstrap-icons.svg#compass" />
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span(class="navbar-toggler-icon")

    block(class="collapse navbar-collapse" id="navbarSupportedContent")
        ul(class="navbar-nav mr-auto")
            li(class="nav-item active")
                a(class="nav-link" href="#configs") Configurations
